@page "/deliveries"
@inject IMediator Mediator

<h1>Deliveries</h1>

<p>The deliveries.</p>

@if (deliveries == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Order</th>
                <th>Subscription</th>
                <th>Planned Start</th>
                <th>Planned End</th>
                <th>Actual Start</th>
                <th>Actual End</th>
                <th>Invoice</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var delivery in deliveries)
            {
            <tr>
                <td><a href="/deliveries/@delivery.Id">@delivery.Id</a></td>
                <td>@delivery.Status</td>
                <td><a href="/orders/@delivery.Order.Id">@delivery.Order.Id</a></td>
                <td><a href="/subscriptions/@delivery?.Subscription?.Id">@delivery?.Subscription?.Id</a></td>
                <td>@delivery!.PlannedStartDate.ToString("g")</td>
                <td>@delivery.PlannedEndDate?.ToString("g")</td>
                <td>@delivery.ActualStartDate?.ToString("g")</td>
                <td>@delivery.ActualEndDate?.ToString("g")</td>
                <td><a href="/invoices/@delivery.InvoiceItem?.Invoice?.Id">@delivery.InvoiceItem?.Invoice?.Id</a></td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Delivery>? deliveries;

    protected override async Task OnInitializedAsync()
    {
        deliveries = await Mediator.Send(new GetDeliveriesQuery());
    }
}
