@page "/invoices/{Id:int}"
@inject IMediator Mediator

@if (invoice == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>Invoice @invoice.Id</h1>

    <h2>Details</h2>

     <table class="table table-striped">
        <tbody>
            <tr>
                <th>Order</th>
                <td><a href="/orders/@invoice.Order?.Id">@invoice.Order?.Id</a></td>
            </tr>
            <tr>
                <th>Order Item</th>
                <td>@invoice.OrderItem?.Id</td>
            </tr>
            <tr>
                <th>Subscription</th>
                <td><a href="/subscriptions/@invoice.Subscription?.Id">@invoice.Subscription?.Id</a></td>
            </tr>
            <tr>
                <th>Delivery</th>
                <td><a href="/deliveries/@invoice.Delivery?.Id">@invoice.Delivery?.Id</a></td>
            </tr>
        </tbody>
    </table>

    <h2>Items</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Order</th>
                <th>Order Item</th>
                <th>Product</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Sub Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (InvoiceItem invoiceItem in invoice.Items)
            {
            <tr>
                <td>@invoiceItem.Id</td>
                <td><a href="/orders/@invoiceItem.Order.Id">@invoiceItem.Order.Id</a></td>
                <td>@invoiceItem?.OrderItem?.Id</td>
                <td><a href="/products/@invoiceItem?.Product?.Id">@invoiceItem?.Product?.Name</a></td>

                <td>@invoiceItem!.UnitPrice</td>
                <td>@invoiceItem.Quantity @invoiceItem.Unit</td>
                <td>@invoiceItem.SubTotal</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private Invoice? invoice;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        invoice = await Mediator.Send(new GetInvoiceQuery(Id));
    }
}
