@page "/products/{Id:int}"
@inject IMediator Mediator

@if (product == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>@product.Id @product.Name</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Product Type</th>
                <td>@product.ProductType</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>@product.Description</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>@product.Price</td>
            </tr>
            <tr>
                <th>Compare At Price</th>
                <td>@product.CompareAtPrice</td>
            </tr>
        </tbody>
    </table>
}

@code {
    private Product? product;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        product = await Mediator.Send(new GetProductQuery(Id));
    }
}
